.header {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #00e0bb;
  background-image: url("https://www.transparenttextures.com/patterns/old-mathematics.png");
  position : absolute;
  top: 120px;
  z-index: -1;
}

.image {
  display: flex;
}

.name {
  display: flex;
}