.new-tweet {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom : 30px;

}

.new-tweet-header {
  display: flex;
}

.error {
  display: flex;
  margin-left: 10%;
  margin-right: 30%;
  background-color: cornsilk;
  color: red;
  border-style: dashed; 
  font-weight: bold;
  font-size: 44px;
  padding : 5px 80px; 
}

.text {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  word-wrap: break-word; 
}

#tweet-text {
  display: flex;
  background-color:inherit;
  border-style: none;
  border-bottom: 3px solid rgb(77, 74, 74);
  font-size: 20px;
  font-style: italic;
  font-size: 30px;
  width: 100%;
  height: 50px;
  
}

.footer {
  display: flex;
  justify-content: space-between;
  font-family: "Bungee";
}

.counter-red {
  color: red;
}

.click:hover {     
  background-color: black;   
  color: white; 
}

.click {
  display: flex;
  margin-top: 10px;
  background-color: rgba(64, 224, 197, 0.808);
  color: rgb(77, 74, 74);
  cursor: pointer;
}

.counter {
  display: flex;
  margin-top: 10px;
}
